// Colors//

$main-color: rgba(48,32,87,7);
$sec-color: #5603ad;
$third-color: #5e72e4;
$fourth-color: #2dce89;
$fifth-color: #ced4da;
$sixth-color: white;
$seventh-color: #32325d;
$eigth-color: #8898aa;
$nineth-color: #f4f5f7;
$tenth-color: #525f7f;
$eleventh-color: #66676b;

// Fonts//

$main-font: 'Source Sans Pro', sans-serif;